Repository RicardoFernandes17/Projeto-Final-DCS, pull requests merged in 2021-01, with the labels that each got.

#59 Frontend pagina rota
  Front-end/src/App.js
  Front-end/src/components/Navbar/index.js
  Front-end/src/components/Place/PlaceElements.js
  Front-end/src/components/Place/index.js
  Front-end/src/components/Places/data.js
  Front-end/src/components/Route/RouteElements.js
  Front-end/src/components/Route/index.js
  Front-end/src/components/Sidebar/index.js
  Front-end/src/components/SugRoutes/SugRoutesElements.js
  Front-end/src/components/SugRoutes/data.js
  Front-end/src/components/SugRoutes/index.js
  Front-end/src/pages/route.js
  Front-end/src/pages/sugroutes.js
Labels: :art:Design, :page_with_curl:FrontEnd

#61 Frontend pagina criar rota
  Front-end/.eslintcache
  Front-end/src/App.js
  Front-end/src/components/CreateRoute/CreateRouteElements.js
  Front-end/src/components/CreateRoute/index.js
  Front-end/src/pages/createroute.js
Labels: :art:Design, :page_with_curl:FrontEnd

#64 Frontend navbar edit
  Front-end/.eslintcache
  Front-end/package-lock.json
  Front-end/package.json
  Front-end/src/App.js
  Front-end/src/components/Navbar/index.js
  Front-end/src/components/RoutesP/RoutesElements.js
  Front-end/src/components/RoutesP/data.js
  Front-end/src/components/RoutesP/index.js
  Front-end/src/components/Sidebar/index.js
  Front-end/src/pages/routesp.js
Labels: :art:Design, :heavy_check_mark:Pronto, :page_with_curl:FrontEnd

#63 Rating model
  Back-end/app/controllers/rating.controller.js
  Back-end/app/models/rating.model.js
Labels: :back:BackEnd

#62 Rating controller
  Back-end/app/controllers/rating.controller.js
Labels: :back:BackEnd

#67 Frontend rating route
  Front-end/.eslintcache
  Front-end/package.json
  Front-end/src/components/Route/RouteElements.js
  Front-end/src/components/Route/index.js
  Front-end/src/components/Sidebar/index.js
Labels: :art:Design, :page_with_curl:FrontEnd, :pushpin:Para Revisão

#71 Frontend footer edit
  Front-end/.eslintcache
  Front-end/src/components/Footer/FooterElements.js
  Front-end/src/components/Footer/index.js
Labels: :art:Design, :heavy_check_mark:Pronto, :page_with_curl:FrontEnd

#75 Frontend showdatabasesugroutes
  Back-end/app/controllers/createItinerario.controller.js
  Back-end/app/controllers/user.controller.js
  Back-end/app/models/sugesteditineraries.model.js
  Back-end/app/routes/createItinerario.routes.js
  Front-end/.eslintcache
  Front-end/debug.log
  Front-end/package-lock.json
  Front-end/package.json
  Front-end/src/App.js
  Front-end/src/components/CreateRoute/index.js
  Front-end/src/components/Footer/FooterElements.js
  Front-end/src/components/Footer/index.js
  Front-end/src/components/Navbar/index.js
  Front-end/src/components/RoutesP/RoutesElements.js
  Front-end/src/components/RoutesP/index.js
  Front-end/src/components/SignIn/SigninElements.js
  Front-end/src/components/SignIn/index.js
  Front-end/src/components/Signup/index.js
  Front-end/src/components/SugRoutes/SugRoutesElements.js
  Front-end/src/components/SugRoutes/index.js
  Front-end/src/pages/routesp.js
  Front-end/src/pages/sugroutes.js
Labels: :heavy_check_mark:Pronto, :page_with_curl:FrontEnd, :world_map:Features

#93 Frontend reparar erro de rota
  Front-end/.eslintcache
  Front-end/src/components/Navbar/index.js
  Front-end/src/components/Route/index.js
  Front-end/src/components/RoutesP/index.js
  Front-end/src/components/SugRoute/index.js
  Front-end/src/components/SugRoutes/index.js
Labels: :hammer:Functions, :page_with_curl:FrontEnd

#97 Db migration
  Back-end/app/config/dbconfig.js
  Back-end/app/controllers/rating.controller.js
  Back-end/app/models/db_mysql.js
  Back-end/app/models/rating.model.js
  Back-end/app/routes/rating.routes.js
  Front-end/.eslintcache
  Front-end/src/components/Route/index.js
Labels: :back:BackEnd, :notebook:Database

#102 Top Routes
  Front-end/.eslintcache
  Front-end/src/App.js
  Front-end/src/components/Navbar/index.js
  Front-end/src/components/TopRoutes/index.js
  Front-end/src/pages/toproutes.js
Labels: :back:BackEnd, :hammer:Functions, :page_with_curl:FrontEnd
